header {
  background-color: $white-alt;
  .header-content{
    h2 {
      color: $blue-primary;
      font-size: 1.5em;
    }
    p {
      font-size: 16px;
    }
    span {
      color: $blue-light;
    }
  }
}
