#number-container{
  background-color: $white-alt;
  .title-content{
    h2{
      color: $blue-primary;
      font-size: 2.5em;
    }
  }
  .card-number{
    width: 100%;
	  height:250px;
	  background: $white;
	  margin:40px auto;
    box-shadow: 0 3px 6px -6px $black;
    p{
      color: $blue-primary;
      font-weight: 500;
    }

  }
  #card-number1{
    span {
      color: $purple;
      font-size: 4em;
    }
  }
  #card-number2{
    span{
      color: $blue-light;
      font-size: 4em;
    }
  }
  #card-number3{
    span{
      color: $green;
      font-size: 4em;
    }
  }
}
