#services-container{
  background: url("/assets/room.jpeg") no-repeat center center fixed;
  img {
    width: 100px;
    height: 100px;
  }
  .title-content{
    margin-bottom: 100px;
    h2{
      color: $blue-primary;
      font-size: 2em;
    }
    p {
      color: $blue-light;
    }
  }
  .service-content{
    h3{
      color: $blue-primary;
      font-size: 1.1em;
    }
  }
}
